img{
  max-width: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}
.App{
  width:80vw;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  
} 

a{
  text-decoration: none;
}



:root{
  --primary-light:255, 255, 255;
  --secondary-light:255, 150, 200;
  --primary-dark:00, 00, 00;
  --secondary-dark:99, 17, 26;
  --complementary-color:65,10,102;
  --window-background-opacity:0.6;
}

body{
background: rgb(70,75,200);
height:100vh;
background-image:url(/src/images/black-texture-background-zre5kxzihims4ng7.jpg) ;
overflow:scroll;
}

.window{
height:fit-content;
width:fit-content;
min-width: 80%;

padding:1rem;
background: linear-gradient(rgba(var(--primary-light),var(--window-background-opacity)),rgba(var(--secondary-light),var(--window-background-opacity)));
background-blend-mode:screen;
border-radius: 1rem;
border:solid black 0.2rem;
}
.window > header{
  background: linear-gradient(90deg, rgba(var(--complementary-color),1),rgba(var(--complementary-color),0.5));
  background-blend-mode: multiply;
  padding:1rem;
  border:solid black 0.1rem;
}

.text-box{
  background-color: antiquewhite;
  padding:2rem;
  box-shadow:0.1rem 0.1rem 1rem inset;
  font-size: 1.6rem;
  min-height: 20rem;
}
.processed-text{
  font-family: 'Merriweather', serif;
}
code{
  background-color: aliceblue;
}
blockquote > p{
  font-size: large;
}
blockquote > p:first-child{
  font-size:larger;
}
blockquote > p:first-child:before{
  content:"\201C";
}
blockquote > p:first-child:after{
  content:"\201D";
}


.minimised > *{
  display:none;
}